.pageWrapper {
  display: grid;
  grid-template-columns: 6rem auto;
  width: 100%;
  height: 100%;
}

.main {
}

.header {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 2rem;
  border-bottom: 1px solid #303030;

  & .title {
    font-size: var(--fs-extra-large);
    font-weight: var(--fw-extra-bold);
  }

  & .right {
    display: flex;
    align-items: center;
    max-width: 16rem;
    margin-left: auto;

    & .profileRedirect,
    & .viewNotifications {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: none;
      color: var(--clr-text-gray);
      background-color: inherit;

      &:hover {
        color: white;
      }

      & .userAvatar {
        width: 40px;
        height: 40px;
        color: var(--clr-text-gray);
        background-color: inherit;

        &:hover {
          color: white;
        }

        & svg {
          width: 24px;
          height: 24px;
        }
      }

      & .icon {
        width: 24px;
        height: 24px;
      }
    }

    & .viewNotifications {
      margin-right: 1rem;
    }
  }
}

.content {
  & .title {
    font-size: 24px;
    font-weight: var(--fw-extra-bold);
    margin-bottom: 2.4rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #080808;
  animation: smoothEntry 0.1s;
}

@keyframes smoothEntry {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
