.drawer {
  width: 250px;
  height: 100%;

  & :global .MuiPaper-elevation {
    background-color: #111111;
    border-right: 1px solid #383838;
    position: static;
  }
}

.divider {
  border-color: #383838;
}

.logoContainer {
  display: flex;
  padding-left: 2.4rem;
  align-items: center;
  gap: 1.2rem;
  margin: 2.4rem 0;

  & .logoContent3 {
    width: 45px;
    height: 35px;
    background-color: transparent;
    border-radius: 50%;
    border-right: 10px solid #ffffff;
    border-bottom: 10px solid #6ea1ff;
    border-top-left-radius: 20%;
    border-top-right-radius: 50%;
  }

  & .logoText {
    letter-spacing: 1px;
    margin-top: 0.6rem;
    font-weight: 400;
    font-size: 18px;
    color: white;
  }
}

.listItem {
  color: var(--clr-text-gray);

  & .listItemButton {
    border-radius: 6px;

    &:hover {
      background-color: rgb(32, 32, 32);
      transition: 0s ease-in-out;
    }

    & .listItemIcon {
      
      & > svg {
        color: var(--clr-text-gray);
        width: 24px;
        height: 24px;
      }
    }

    & .listItemText {
      color: var(--clr-text-gray);
    }
  }
}