.container {
  background-color: #111111;
  // padding: 3rem;
}

.dataGridBox {
  width: calc(748px + 3rem);
  height: 30rem;
  padding: 1.2rem 2.4rem;
  border: 1px solid #202020;
  border-radius: 24px;
}

.title {
  font-size: 18px;
  margin-bottom: 1.2rem;
}

.dataGrid {
  border: none;
  font-size: 14px;
  font-family: var(--ff-default);
  color: var(--clr-text-gray);

  & * {
    color: var(--clr-text-gray);
  }

  & :global {
    & .MuiDataGrid-main {
      color: var(--clr-text-gray);

      & .MuiDataGrid-columnHeaders {
        border-bottom: 1px solid #202020;

        & .MuiDataGrid-columnHeader {
        }

        & .MuiDataGrid-columnHeaderTitle {
          font-weight: 400;
        }
      }
    }

    & .MuiDataGrid-row {
      &:nth-child(odd) {
        background-color: #141414;

        &.Mui-selected {
          background-color: #141414;

          &:hover {
            background-color: #141414;
          }
        }

        &:hover {
          background-color: #141414;
        }
      }

      &.Mui-selected {
        background-color: inherit;

        &:hover {
          background-color: inherit;
        }
      }

      &:hover {
        background-color: inherit;
      }
    }

    & .MuiDataGrid-cell {
      border: none;
      background-color: inherit;

      &:focus {
        outline: none;
      }

      &[data-colindex="4"] {
        &.positiveValue div {
          color: var(--clr-text-green);
        }

        &.negativeValue div {
          color: var(--clr-text-red);
        }
      }
    }

    & .MuiDataGrid-footerContainer {
      border-top: 1px solid #202020;
    }
  }
}
