.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  // background-color: #0a0a0a;
  padding: 1rem;
  animation: smoothEntry 0.5s;
}

.title {
  font-size: var(--fs-large);
  font-weight: var(--fw-extra-bold);
  margin-bottom: 1.2rem;
}

.dataGrid {
  width: 600px;
  flex: 1;
  border: none;
  font-size: var(--fs-regular);
  font-family: var(--ff-default);
  color: var(--clr-text-gray);

  & * {
    color: var(--clr-text-gray);
  }

  & :global {
    & .MuiDataGrid-main {
      color: var(--clr-text-gray);

      & .MuiDataGrid-row {
        &:hover {
          background-color: var(--clr-bg-dark-gray);
        }
      }

      & .MuiDataGrid-columnHeaders {
        border-bottom: 1px solid #202020;

        & .MuiDataGrid-columnHeader {
        }

        & .MuiDataGrid-columnHeaderTitle {
          font-size: var(--fs-small);
          font-weight: var(--fw-extra-bold);
        }
      }
    }

    & .MuiDataGrid-cell {
      border: none;
      background-color: inherit;

      &:focus {
        outline: none;
      }

      &[data-colindex="3"] {
        &.positiveValue div {
          color: var(--clr-text-green);
        }

        &.negativeValue div {
          color: var(--clr-text-red);
        }
      }
    }

    & .MuiDataGrid-footerContainer {
      border-top: 1px solid #202020;
    }
  }
}

@keyframes smoothEntry {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
