.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
  animation: smoothEntry 0.5s;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.2rem;

  & .title {
    font-size: var(--fs-large);
    font-weight: var(--fw-extra-bold);
  }

  & .plaidLinkTransactions {
    cursor: pointer;
    font-family: var(--ff-default);
    font-weight: var(--fw-bold);
    color: var(--clr-text-gray);
    background-color: inherit;
    border: 1px solid #1a1a1a;
    outline: none;
    padding: 0.6rem;
    border-radius: 4px;
    font-size: var(--fs-small);
  }
}

.dataGrid {
  width: 700px;
  flex: 1;
  border: none;
  font-size: var(--fs-regular);
  font-family: var(--ff-default);
  color: var(--clr-text-gray);
  outline: 1px solid #202020;

  & * {
    color: var(--clr-text-gray);
  }

  & :global {
    & .MuiDataGrid-main {
      color: var(--clr-text-gray);

      & .MuiDataGrid-row {
        &:hover {
          background-color: var(--clr-bg-dark-gray);
        }
      }

      & .MuiDataGrid-columnHeaders {
        border-bottom: 1px solid #202020;

        & .MuiDataGrid-columnHeader {
        }

        & .MuiDataGrid-columnHeaderTitle {
          font-size: var(--fs-small);
          font-weight: var(--fw-extra-bold);
        }
      }
    }

    & .MuiDataGrid-cell {
      border-bottom: 1px solid #121212;
      background-color: inherit;

      &:focus {
        outline: none;
      }

      &[data-colindex="3"] {
        &.positiveValue div {
          &::before {
            content: "+";
          }
          color: var(--clr-text-green);
        }

        &.negativeValue div {
          color: var(--clr-text-red);
        }
      }
    }

    & .MuiDataGrid-footerContainer {
      border-top: 1px solid #202020;
    }
  }
}

@keyframes smoothEntry {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
