$resetPasswordButtonBackgroundColorOnHover: #4f8cff;
$resetPasswordButtonBackgroundColorOnFocus: #8bb4ff;

.container {
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid var(--clr-border-primary);
  min-width: 34rem;
  background-color: var(--clr-bg-black);
}

.title {
  font-size: var(--fs-medium);
  font-weight: var(--fw-light);
  margin-bottom: 0.25rem;
}

.subTitle {
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--clr-text-gray);
  margin-bottom: 2rem;
}

.onSubmitErrorBox,
.onSubmitSuccessBox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  animation: smoothEntry 0.5s;

  & .errorIcon,
  & .successIcon {
    width: 20px;
    height: 20px;
    margin-right: 0.25rem;
  }

  & .errorIcon,
  & .errorMessage {
    color: var(--clr-text-red);
  }

  & .successIcon,
  & .successMessage {
    color: var(--clr-text-green);
  }

  & .errorMessage,
  & .successMessage {
    font-size: var(--fs-small);
  }
}

.form {
  margin-bottom: 2rem;

  & .inputTextBox {
    font-size: var(--fs-regular);

    & .label {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      padding-bottom: 0.25rem;
      font-size: var(--fs-small);
      color: var(--clr-text-white);
    }

    & .inputText {
      margin-bottom: 1rem;

      & > input {
        width: 100%;
        height: 3rem;
        padding: 0 0.5rem;
        font-size: var(--fs-regular);
        border: 1px solid var(--clr-input-border);
        border-radius: 4px;
        color: var(--clr-text-white);
        background-color: inherit;

        &:focus {
          outline: none;
          border-color: #4f8cff;
          transition: 0.5s;
        }

        &::placeholder {
          color: var(--clr-text-gray);
        }
      }
    }

    & .inputTextErrorBox {
      display: flex;
      align-items: center;
      margin-top: -0.5rem;
      margin-bottom: 1rem;
      animation: smoothEntry 0.5s;

      & .errorIcon {
        width: 20px;
        height: 20px;
        color: var(--clr-text-red);
        margin-right: 0.25rem;
      }

      & .errorMessage {
        font-size: var(--fs-small);
        color: var(--clr-text-red);
      }
    }
  }

  & .resetPasswordBox {
    & .resetPassword {
      cursor: pointer;
      width: 100%;
      height: 3rem;
      font-size: var(--fs-regular);
      border: none;
      border-radius: 4px;
      color: var(--clr-text-white);
      background-color: var(--clr-button-text--positive);

      &:hover {
        background-color: $resetPasswordButtonBackgroundColorOnHover;
      }

      &:focus {
        border: 1px solid $resetPasswordButtonBackgroundColorOnFocus;
      }
    }
  }
}

.loginBox {
  text-align: center;

  & .loginPrompt {
    margin-bottom: 0.5rem;
    color: var(--clr-text-gray);
  }

  & .loginLink {
    &:focus {
      outline: 1px solid #4f8cff;
    }
  }
}

@keyframes smoothEntry {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
