.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 60rem;
}

.title {
  font-size: var(--fs-large);
  font-weight: var(--fw-extra-bold);
  margin-bottom: 1.2rem;
}

.lineGraphBox {
  flex: 1;
  outline: 1px solid #202020;
  border-radius: 4px;
  padding: 2rem;
}
