.container {
  padding: 1rem 0;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  & .title {
    font-weight: var(--fw-medium);
    font-size: var(--fs-medium);
    color: var(--clr-text-white);
  }
}

.bottom {
  background-color: #131313;
  border-radius: 4px;

  & .divider {
    width: 80%;
    border: 1px solid red;
  }

  & .transactionList {
    height: 30rem;
    overflow-y: scroll;

    & .transactionListItem {
      align-items: flex-start;

      & .dailyTransactionListItemDate {
        margin-top: 16px;
        color: var(--clr-text-gray);
      }
      & .dailyTransactionList {
        width: 100%;
        & .dailyTransactionListItem {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #202020;

          & .transactionBoxLeft {
            & .transactionName {
              margin-bottom: 0.5rem;
              // color: var(--clr-text-gray);
            }

            & .transactionType {
              font-size: var(--fs-small);
              color: var(--clr-text-gray);
            }
          }

          & .transactionBoxRight {
            text-align: right;
            & .transactionAmount {
              margin-bottom: 0.5rem;
            }

            & .balanceAfterTransaction {
              font-size: var(--fs-small);
              color: var(--clr-text-gray);
            }
          }
        }
      }
    }
  }
}
