.container {
  max-height: 4rem;
}

.scrollActionList {
  display: flex;
  background-color: var(--clr-bg-dark-gray);

  & .scrollActionItem {
    padding: 0;

    & .scrollActionButton {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--clr-text-gray);

      & .scrollActionIcon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
