.grid {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  gap: 0 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primaryActions,
.secondaryActions {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.8rem;
  padding: 0;
  margin-bottom: 1.2rem;
}

.primaryActions .fab,
.secondaryActions .fab {
  background-color: var(--clr-bg-fab);
  color: var(--clr-text-gray);
  -webkit-transition: none;
  transition: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.primaryActions .fab:hover,
.secondaryActions .fab:hover {
  background-color: var(--clr-bg-fab--hover);
}

.primaryActions .addCard,
.secondaryActions .addCard {
  border-radius: 48px;
  background-color: #0059ff;
  color: var(--clr-text-white);
}

.primaryActions .addCard:hover,
.secondaryActions .addCard:hover {
  background-color: #4184ff;
}

.primaryActions .addCard svg,
.primaryActions .editCard svg,
.primaryActions .revealCard svg,
.primaryActions .deleteCard svg,
.primaryActions .copyCardNumber svg,
.secondaryActions .addCard svg,
.secondaryActions .editCard svg,
.secondaryActions .revealCard svg,
.secondaryActions .deleteCard svg,
.secondaryActions .copyCardNumber svg {
  width: 20px;
  height: 20px;
}

.primaryActions {
  margin-left: auto;
}

.secondaryActions {
  margin: 0 1.8rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.secondaryActions .fab {
  background-color: transparent;
  border: 2px solid var(--clr-bg-fab);
}

.secondaryActions .fab:hover {
  border: none;
}

.toPreviousCard,
.toNextCard {
  min-width: 0;
  min-height: 0;
  width: 3rem;
  height: 3rem;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 30%;
  background-color: inherit;
  color: var(--clr-text-gray);
}

.toPreviousCard svg,
.toNextCard svg {
  width: 20px;
  height: 20px;
}

.toPreviousCard:hover,
.toNextCard:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: var(--clr-button--hover);
}

.card {
  margin-bottom: 1.2rem;
}

.toPreviousCard.firstCard, .toPreviousCard.lastCard,
.toNextCard.firstCard,
.toNextCard.lastCard {
  cursor: default;
  color: var(--clr-text-disabled);
}

.toPreviousCard.firstCard:hover, .toPreviousCard.lastCard:hover,
.toNextCard.firstCard:hover,
.toNextCard.lastCard:hover {
  background-color: inherit;
}

.toPreviousCard {
  -ms-grid-column: 1;
  grid-column: 1;
}

.toNextCard {
  -ms-grid-column: 3;
  grid-column: 3;
}

.card .noCardsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noCardsText {
  font-size: 14px;
  color: var(--clr-text-gray);
  height: 14rem;
  width: 20rem;
}

.fab,
.toPreviousCard,
.toNextCard {
  -webkit-transition: none;
  transition: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
/*# sourceMappingURL=cardSection.module.css.map */