.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0 1.2rem;
  padding: 3rem 1.2rem;
  border-radius: 36px;
  align-items: center;
  // border: 1px solid #ffffff50;
  // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.top {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.2rem;
  padding: 0;

  & .cardName {
    font-size: 14px;
    margin-right: auto;
    color: #dadada;
  }

  & .revealCard {
    // margin-left: auto;
  }

  & .editCard,
  & .revealCard,
  & .deleteCard,
  & .copyCardNumber {
    // margin-right: 1.2rem;
    background-color: #181818;
    color: var(--clr-text-gray);

    &:hover {
      background-color: #2e2e2e;
    }
  }

  & .addCard {
    background-color: #0066ff;
    color: white;

    &:hover {
      background-color: #287eff;
    }
  }

  & .addCard,
  & .editCard,
  & .revealCard,
  & .deleteCard,
  & .copyCardNumber {
    min-width: 0rem;
    min-height: 0rem;
    width: 3rem;
    height: 3rem;

    & svg {
      width: 20px;
      height: 20px;
    }
  }
}

.switchToPreviousCard,
.switchToNextCard {
  min-width: 0;
  min-height: 0;
  width: 3rem;
  height: 3rem;
  padding: 0;
  box-shadow: none;
  border-radius: 50%;
  background-color: inherit;
  color: var(--clr-text-gray);

  & svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: rgba(145, 145, 145, 0.1);
    transition: 0.1s ease-in-out;
  }
}

.switchToPreviousCard {
  grid-column: 1;

  &.firstCard {
    cursor: default;
    color: #2e2e2e;

    &:hover {
      background-color: inherit;
    }
  }
}

.switchToNextCard {
  grid-column: 3;

  &.lastCard {
    cursor: default;
    color: #2e2e2e;

    &:hover {
      background-color: inherit;
    }
  }
} 

.bottom {
  margin-top: 0.6rem;
  grid-column: 2;
  padding: 0;

  & .revealDetails {
    color: var(--clr-text-gray);

    &:hover {
      background-color: rgba(177, 177, 177, 0.1);
    }
  }
}

.cardBox .noCardsText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noCardsText {
  font-size: 14px;
  color: var(--clr-text-gray);
  height: 14rem;
  width: 20rem;
}