.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 0 1.2rem;
    background-color: #1d1d1d;
    border-bottom: 1px solid #3a3a3a;
}

.logo {
    object-fit: cover;
    border-radius: 6px;
    margin-right: 1.2em;
    background-color: var(--clr-bg-dark-blue);
}

.middleContent {
    grid-column: 2;
}

.name {
    margin-bottom: 0.6em;
}

.date {
    color: var(--clr-text-gray);
}

.rightContent {
    grid-column: 12;
    text-align: right;
    margin-left: auto;
}

.account {
    margin-bottom: 0.6em;
}

.amount {
    color: var(--clr-text-gray);
}