.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4.2rem;
	padding: 0 1.2rem;
	color: var(--clr-text-gray);
}

.merchantLogo {
	border-radius: 50%;
	object-fit: cover;
}

.merchantName {

}

.date {

}

.accountName {

}

.amount {

}