.container {
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid var(--clr-input-border);
  min-width: 32rem;
  background-color: var(--clr-bg-black);
}

.title {
  font-size: var(--fs-extra-extra-large);
  font-weight: var(--fw-light);
}

.subTitle {
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  margin-bottom: 2rem;
}

.form {
  & .inputTextBox {
    font-size: var(--fs-regular);

    & .label {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      padding-bottom: 0.25rem;
      font-size: var(--fs-small);
      color: var(--clr-text-white);
    }

    & .inputText {
      margin-bottom: 1rem;

      & > input {
        width: 100%;
        height: 3rem;
        padding: 0 0.5rem;
        font-size: var(--fs-regular);
        border: 1px solid var(--clr-input-border);
        border-radius: 4px;
        color: var(--clr-text-gray);
        background-color: inherit;

        &:focus {
          outline: none;
        }
      }
    }
  }

  & .inputCheckboxAndLinkBox {
    font-size: var(--fs-small);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;

    & .inputCheckboxBox {
      display: flex;
      align-items: flex-start;

      & .input {
        margin-right: 0.25rem;
        & > input {
          cursor: pointer;
          border: none;
          background-color: red;
        }
      }

      & .label {
        cursor: pointer;
        font-size: var(--fs-small);
        color: var(--clr-text-gray);
      }
    }
  }

  & .loginButtonDividerText {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  & .loginWithCredentialsBox,
  & .loginWithProviderBox {
    & .loginButton {
      cursor: pointer;
      width: 100%;
      height: 3rem;
      font-size: var(--fs-regular);
      border: none;
      border-radius: 4px;
      color: var(--clr-text-white);
    }
  }

  & .loginWithCredentialsBox {
    margin-bottom: 0.5rem;

    & .loginButton {
      background-color: var(--clr-button-text--positive);
    }
  }

  & .loginWithProviderBox {
    margin-bottom: 2rem;

    & .loginButton {
      background-color: #1f1f1f;
    }
  }
}

.registerBox {
  text-align: center;
}
