@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --clr-text-white: #ffffff;
  --clr-text-gray: #b1b1b1;
  --clr-text-red: #ff8787;
  --clr-text-green: #84ff99;

  --clr-bg-dark-gray: #0c0c0c;

  --clr-bg-fab-primary: #0059ff;
  --clr-bg-fab-primary--hover: #4184ff;
  --clr-bg-fab-secondary: #2b2b2b;
  --clr-bg-fab-secondary--hover: #444444;

  --clr-button-text--positive: #4184ff;
  --clr-button-text--positive--hover: rgba(65, 132, 255, 0.1);
  --clr-button-text--neutral: #7c7c7c;
  --clr-button-text--neutral--hover: rgba(124, 124, 124, 0.1);
  --clr-button-text--negative: #ff8787;
  --clr-button-text--negative--hover: rgba(255, 135, 135, 0.1);

  --clr-button--hover: rgba(145, 145, 145, 0.1);
  --clr-input--focus: #2c66a8;

  --clr-bg-navigation-item--selected: #3c5abe;

  --clr-text-disabled: #303030;

  --ff-default: "IBM Plex Sans", sans-serif;

  --fs-small: 0.85rem;
  --fs-regular: 1rem;
  --fs-medium: 1.15rem;
  --fs-semi-large: 1.3rem;
  --fs-large: 1.45rem;
  --fs-extra-large: 1.6rem;
  --fs-extra-extra-large: 1.75rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next,
.App {
  width: 100vw;
  height: 100vh;
  font-family: var(--ff-default);
  font-size: 14px;
  font-weight: var(--fw-regular);
  color: var(--clr-text-white);
  background-color: var(--clr-bg-dark-gray);
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  background: #303030;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}
