:root {
  --clr-text-white: #FFFFFF;
  --clr-text-gray: #B1B1B1;
  --clr-text-red: #FF8787;
  --clr-text-green: #65FF7E;
  --clr-bg-dark-gray: #151515;
  --clr-bg-dark-blue: #212435;

  --ff-default: 'Open Sans', sans-serif;

  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-22: 22px;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next,
.App {
  width: 100vw;
  height: 100vh;
  font-family: var(--ff-default);
  font-size: var(--fs-14);
  font-weight: var(--fw-regular);
  color: var(--clr-text-white);
  background-color: var(--clr-bg-dark-gray);
}

a {
  text-decoration: none;
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-bg-dark-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}