.container {
	display: flex;
	flex-direction: column;
	width: 36rem;
	padding: 1.2rem 1.2rem;
	border-radius: 12px;
	background-color: #1d1d1d;
}

.heading {
	margin: 0 1.2rem;
	margin-bottom: 0.6rem;
	font-size: 18px;
	font-weight: var(--fw-regular);
	color: var(--clr-text-gray);
}

.list {
	flex: 1;
	overflow-y: scroll;
	list-style-type: none;
	margin-bottom: 1.2em;
}

.list > li:nth-child(odd) {
	/* background-color: #242424; */
}

.actionsContainer {
	display: flex;
	gap: 1rem;
}

.linkAccount,
.pollTransactions {
	cursor: pointer;
	height: 3.2rem;
	width: 100%;
	outline: none;
	border-radius: 6px;
	border: none;
	font-size: 14px;
	font-family: var(--ff-default);
	color: var(--clr-text-white);
	background-color: #1381ff;
}