.container {
    width: 480px;
    background-color: var(--clr-bg-dark-gray);
}

.title {
    margin-bottom: 1.2em;
    font-weight: var(--fw-bold);
}

.list {
    list-style-type: none;
    margin-bottom: 1.2em;
}